.backgroundUser {
  background-image: url("https://i.ibb.co/FgMtsNV/33333.jpg");
  min-height: 600px;
}
.text {
  margin: 2px auto 15px;
  font-size: 3.5vw;
  font-weight: 500;
  font-family: roboto;
  color: maroon;
}
p.description {
  color: black;
  font-size: 2rem;
  font-weight: 450;
  font-family: roboto;
}

@media only screen and (max-width: 800px) {
  .backgroundUser {
    background-image: url("https://i.ibb.co/FgMtsNV/33333.jpg");
    min-height: 600px;
    background-size: 100% 100%;
  }
  .text {
    margin: 2px auto 15px;
    font-size: 35px;
    font-weight: 500;
    font-family: roboto;
    color: maroon;
  }
}
