.sidebar {
  width: 15%;
  min-width: 120px;
  min-height: 750px;
  background-color: #343a40;
}
.content {
  width: 85%;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
}

li {
  list-style: none;
  margin: 6px;
  font-size: 1.2rem;
}
