.flat-info-form {
  padding: 30px 0;
}

.flat-info-form form {
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 50px 70px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(92, 62, 62, 0.075);
}

.flat-info-form .item {
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

@media (max-width: 576px) {
  .flat-info-form form {
    padding: 50px 20px;
  }
}
