.backgroundAdmin {
  background: #d5c7aa;
  min-height: 700px;
}
.textAdmin {
  margin: 2px auto 15px;
  font-size: 3.5vw;
  font-weight: 500;
  font-family: roboto;
  color: maroon;
}
.descriptionAdmin {
  color: black;
  font-size: 2rem;
  font-weight: 450;
  font-family: roboto;
}

@media only screen and (max-width: 600px) {
  .textAdmin {
    margin: 2px auto 15px;
    font-size: 35px;
    font-weight: 500;
    font-family: roboto;
    color: maroon;
  }
}
