.cv-form {
  padding: 30px 0;
  background: aliceblue;
}

.cv-form form {
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 50px 70px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.cv-form .item {
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.picStyle {
  background-image: url("https://i.ibb.co/Yfy85kR/7c676259b8bea7cf1014f4d29a0031cd.gif");
  background-size: 90% 80%;
  border-radius: 80px;
  min-height: 600px;
  margin-top: 10px;
}
.sendButton {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background: #0d3451 !important;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

@media (max-width: 576px) {
  .cv-form form {
    padding: 50px 20px;
  }
}
label {
  font-size: 1.2rem;
  color: maroon;
}
@media only screen and (max-width: 600px) {
  .picStyle {
    margin: auto;
    width: 80%;
  }
}
